# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Log files
*.log

# Compiled Python files
*.pyc

# Ignore your virtual environment
venv/
env/
